@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,500;1,700&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --navbar-color: #128C7E;
    --yellow-color: #FDBF60;
    --dasar-color: #D0E8E5;
    --button-color: #076461;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.login::before {
    content: "";
    background-image: url('../images/login-gelombang.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.login::after {
    content: "";
    background-image: url('../images/login-gelombang2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.login-container {
    background: #ffffff;
    width: 95%;
    height: 75%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 20px rgba(2, 2, 2, 0.1);
    display: flex;
}

.form-left {
    margin: 20px 20px;
    text-align: left;
    width: 60%;
}

.login-form h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--button-color);
    font-weight: bold;
}

.form-group {
    margin-top: 10px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: 500;
    color: var(--black-color);
}

.form-group input {
    border: none;
    border-bottom: 2px solid #333;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
}

.checkbox {
    margin-bottom: 20px;
    font-size: 14px;
}

.checkbox input[type="checkbox"] {
    margin-right: 8px;
}

.login-btn {
    margin-top: 10px;
}

.login-btn button {
    background: var(--button-color);
    margin-bottom: 8px;
    width: 100%;
    color: #fff;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
    border-radius: 0;
}

.login-btn button:hover {
    background-color: var(--navbar-color);
}

.login-form h6 {
    font-size: 14px;
}

.img-right img {
    padding: 0;
    margin-left: 170px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    float: right;
}