@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,500;1,700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --navbar-color: #128C7E;
    --yellow-color: #FDBF60;
    --dasar-color: #D0E8E5;
    --button-color: #076461;
}

.container-tiket {
    background-color: var(--white-color);
    border: 1px solid var(--navbar-color);
    border-radius: 20px;
}

.tiket-pendakian {
    background-color: var(--dasar-color);
    border-radius: 20px;
    transform: translateX(5%);
}

.tittle-container {
    background-color: var(--white-color);
    width: 300px;
    transform: translateX(65%);
    border-radius: 20px;
}

.text-tittle {
    background-color: var(--button-color);
    color: var(--yellow-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.text-tiket {
    color: var(--black-color);
}

.garis-bawah {
    border: none;
    height: 1px;
    background-color: var(--black-color);
    margin: 10px 0;
}

.container-snk {
    background-color: var(--dasar-color);
    border-radius: 10px;
    box-shadow: 20px -10px 20px rgb(0, 0, 0, 0.25);
}

.snk-tittle {
    width: fit-content;
    background-color: var(--navbar-color);
    color: var(--white-color);
    border-radius: 25px;
    border: 1px solid var(--black-color);
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.snk-tittle i {
    padding-left: 5px;
}

.snk-tittle p {
    margin-bottom: 0;
    padding: 10px;
}

.container-snk ul {
    margin-top: 10px;
    margin-left: 18px;
}

.image-wave {
    margin-bottom: -90px;
    min-width: fit-content;
    transform: translateX(0px);
}