@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,500;1,700&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --navbar-color: #128C7E;
    --yellow-color: #FDBF60;
    --dasar-color: #D0E8E5;
    --button-color: #076461;
}


/** ULASAN **/
.tittle-ulas {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
}

.tittle-ulas::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--black-color);
}

.nilai {
    font-size: 2.8rem;
}

.rating-start-1 {
    font-size: 2.5rem;
}

.card-subtitle {
    font-size: 1rem;
}

.column-rating {
    margin-left: 1.5rem;
}

.rating-info {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    max-width: 100%;
}

.rating-start {
    margin-right: 5px;
    font-size: 1.5rem;
}

.angka-start {
    font-size: 1rem;
}

.rating-bar-container {
    display: flex;
    align-items: center;
}

.rating-bar {
    width: 450px;
    height: 18px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 5px;
}

.rating-label {
    font-size: 12px;
}

.rating-fill-5 {
    height: 100%;
    background-color: var(--navbar-color);
    width: 90%;
}

.rating-fill-4 {
    height: 100%;
    background-color: var(--navbar-color);
    width: 40%;
}

.rating-fill-3 {
    height: 100%;
    background-color: var(--navbar-color);
    width: 20%;
}

.rating-fill-2,
.rating-fill-1 {
    height: 100%;
    background-color: var(--navbar-color);
    width: 0%;
}

.content-ulas h1 {
    font-size: 32px;
}

.user {
    display: flex;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 1rem;
}

.username {
    font-size: 16px;
    font-weight: bold;
}

.rating-bintang {
    display: flex;
    grid-gap: .5rem;
    font-size: 2.5rem;
    color: #FFBD13;
    margin-bottom: 1rem;
}

.rating-bintang .star {
    cursor: pointer;
}

.rating-bintang .star.active {
    opacity: 0;
    animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.rating-bintang .star:hover {
    transform: scale(1.1);
}

.tag-button {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    background-color: var(--white-color);
    color: var(--navbar-color);
    border: 1px solid var(--button-color);
    border-radius: 25px;
    cursor: pointer;
}

textarea {
        width: 100%;
        background: var(--white-color);
        padding: 1rem;
        border-radius: .5rem;
        border: 2;
        outline: 2 solid var(--black-color);
        resize: none;
        margin-bottom: .5rem;
        font-size: 12px;
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    grid-gap: 2rem;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    flex: none;
    transition: 1s;
} 

.btn-kirim {
    color: #FFFFFF;
    border: none;
    width: 20%;
    height: 2.5rem;
    border-radius: 30px;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.8);
    background-color: var(--button-color);
}

.btn-batal {
    color: #FFFFFF;
    border: none;
    width: 20%;
    height: 2.5rem;
    border-radius: 30px;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.8);
    background-color: #C7C8CC;
}

.btn-kirim:hover {
    background-color: var(--navbar-color);
    box-shadow: none;
}

.btn-batal:hover {
    background-color: #B5C0D0;
    box-shadow: none;
}

.review-body{
    background-color: var(--dasar-color);
    padding: 1rem;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.tagline {
    font-size: 12px;
}

.username {
    font-size: 18px;
    font-weight: bolder;
}

.review-text {
    font-size: 12px;
    padding-bottom: 10px;
    text-align: justify;
}


.btn-ulas>.btn-ulas:not(:first-child),
.ulas>.btn:not(:first-child) {
    margin-left: 10px;
}

.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    color: #076461;
    background-color: #D0E8E5;
    border: none;
    border-radius: 25px;
}

.btn-ulas>.btn-ulas:not(:last-child)>.btn,
.btn-ulas>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.btn-outline-primary {
    color: #076461;
    border-color: #076461;
    border-radius: 25px;
    font-size: .75rem;
}

.btn-ulas>.btn-ulas:not(:last-child)>.btn,
.btn-ulas>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.btn-ulas>.btn-ulas:not(:first-child)>.btn,
.btn-ulas>.btn:nth-child(n+3),
.btn-ulas>:not(.btn-check)+.btn {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}